
@font-face {
  font-family: 'OzHandicraft';
  src: url('../../fonts/OzHandicraft/OzHandicraft.woff') format('woff'),
       url('../../fonts/OzHandicraft/OzHandicraft.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Bold.woff') format('woff'),
       url('../../fonts/Raleway/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Medium.woff') format('woff'),
       url('../../fonts/Raleway/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Light.woff') format('woff'),
       url('../../fonts/Raleway/Raleway-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
