
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fff;

  &_gray {
    background-color: #fbfbfb;
  }

  &_cell {
    background-image: url('../../media/section/cell.jpg');
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, .4);
  }

  &_black {
    background-color: #000;
  }
}

.section__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 56px;
  font-family: 'OzHandicraft';
}

@media (max-width: 768px) {
  .section__title {
    font-size: 46px;
  }
}
